<div class="topSection">
    <div class="container text-center flexContainer">
        <h1 class="text-center h1">
            How Praze Can Improve Your Online Presence
        </h1>
        <div class="paragraphText">
            Get the good reviews you want people to see and get the feedback you want to improve
        </div>
        <div class="demoButton">
            <i class="fa fa-play-circle-o"></i>
            <span class="paddingLeft" (click)="openDialog()">Watch How it Works</span>
        </div>
    </div>
</div>
