<div class="topSection">
    <div class="mainText paragraphText">
        <div class="sectionTitle lightShadow">Online Reviews Simplified</div>
        <div class="sectionSubTitle lightText">Praze makes getting online reviews for your business simple</div>
        <span class="demoButton" routerLink="/watch-demo">See it in action</span>
    </div>
</div>
<div class="sections">
    <div class="stdContainer">
        <div class="textCenterHead">
            <h1>5 Star Reviews</h1>
            <h2>Hundreds of 5 Star Reviews</h2>
            <div class="middleIconContainer"></div>
        </div>
        <div class="comparisonContainer">
            <div class="vsSide">
                <h2>Be this guy</h2>
                <div class="goodImg"></div>
            </div>
            <div class="vsSide">
                <h2>Not this guy</h2>
                <div class="badImg"></div>
            </div>
        </div>
    </div>
</div>
<div class="thinLine"></div>
<div class="sections">
    <div class="stdContainer">
        <div class="textCenterHead">
            <h1>We need something else on this page</h1>
            <h2>Something that kinda tells what we do or something</h2>
        </div>
    </div>
</div>
