<!--The content below is only a placeholder and can be replaced.-->
<div class="toolbarContainer">
    <md-toolbar>
        <a routerLink="">
            <img class="logoImage" src="../assets/images/prazeLogo2.5ai.png">
        </a>

        <span class="navbar-spacer"></span>

        <div class="menuItems">
            <span class="navbarItems" routerLink="product">Product</span>
            <span class="navbarItems" routerLink="watch-demo">Watch Demo</span>
            <span class="navbarItems" routerLink="resources">Resources</span>
            <span class="navbarItems" (click)="openDialog()">Login</span>
            <span class="navbarItems" routerLink="blog">Blog</span>
        </div>

        <div class="myCollapse" (click)="openMenu = !openMenu">
            <i class="fa fa-align-justify" aria-hidden="true"></i>
        </div>
        <div *ngIf="openMenu" class="collapsedMenu">
            <div routerLink="product" (click)="openMenu = !openMenu">Product</div>
            <div routerLink="watch-demo" (click)="openMenu = !openMenu">Watch Demo</div>
            <div routerLink="resources" (click)="openMenu = !openMenu">Resources</div>
            <div (click)="openDialog()">Login</div>
            <div routerLink="blog" (click)="openMenu = !openMenu">Blog</div>
        </div>

    </md-toolbar>
</div>

<div>
    <router-outlet></router-outlet>
</div>

<footer class="footerContainer">
    <div class="footer">
        <div class="flexColumns">
            <div class="flexItems">
                I'm something here
            </div>
            <div class="flexItems">
                I'm something here 2
            </div>
            <div class="flexItems">
                I'm something here 3
            </div>
            <div class="flexItems">
                <div>LET'S CONNECT</div>
                <div class="smallText">Call: (888) 587-0005</div>
                <div class="smallText">Support: info@praze.la</div>
                <div class="smallText">Sales: info@praze.la</div>
            </div>
        </div>
        <div>
            <div class="thinLine"></div>
            <div class="footerBranding">
                <div>
                    <img src="../assets/images/prazeLogo2.5ai.png" class="logoImage">
                </div>
                <div class="copyPraze">
                    © Praze 2017
                </div>
            </div>
        </div>
    </div>
</footer>
