<div class="toolbarContainer">
    <md-toolbar class="tinyToolbar">
        <div class="leftMenuContainer">
            <span class="navbarItems" routerLink="product">Product</span>
            <span class="navbarItems" routerLink="watch-demo">Watch Demo</span>
            <span class="navbarItems" routerLink="resources">Resources</span>
            <span class="navbarItems" routerLink="blog">Blog</span>
        </div>
        <div class="middleIconContainer" routerLink=""></div>

        <div class="rightMenuContainer">
            <a href="https://account.patientsnap.com/login" class="myLogin">Login</a>
        </div>

        <div class="myCollapse" (click)="openMenu = !openMenu">
            <i class="fa fa-align-justify" aria-hidden="true"></i>
        </div>
        <div *ngIf="openMenu" class="collapsedMenu">
            <div routerLink="product" (click)="openMenu = !openMenu">Product</div>
            <div routerLink="watch-demo" (click)="openMenu = !openMenu">Watch Demo</div>
            <div routerLink="resources" (click)="openMenu = !openMenu">Resources</div>
            <div (click)="openDialog()">Login</div>
            <div routerLink="blog" (click)="openMenu = !openMenu">Blog</div>
        </div>

    </md-toolbar>
</div>

<div>
    <router-outlet></router-outlet>
</div>

<footer class="footerContainer">
    <div class="footer">
        <div class="flexColumns">
            <div class="flexItems">
                I'm something here
            </div>
            <div class="flexItems">
                I'm something here 2
            </div>
            <div class="flexItems">
                I'm something here 3
            </div>
            <div class="flexItems">
                <div>LET'S CONNECT</div>
                <div class="smallText">Call: (888) 587-0005</div>
                <div class="smallText">Support: info@patientsnap.com</div>
                <div class="smallText">Sales: info@patientsnap.com</div>
            </div>
        </div>
    </div>
    <div class="thinLine"></div>
    <div class="footer">
        <div class="footerBranding">
            <div class="leftMenuContainer">
                <span class="lowerMenuItems">Affiliate</span>
                <span class="lowerMenuItems">FAQs/Contact Us</span>
                <span class="lowerMenuItems">Jobs</span>
            </div>
            <div class="rightMenuContainer">
                <a href="https://www.facebook.com/PatientSnap/" class="socialItems">
                    <i class="fa fa-facebook-official"></i>
                </a>
                <a class="socialItems">
                    <i class="fa fa-instagram"></i>
                </a>
                <a class="socialItems">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="thinLine"></div>
    <div class="footer">
        <div class="footerBranding">
            <div>
                <i class="fa fa-phone"></i>
                888-587-0005
            </div>
            <div class="copyPraze">
                <a class="footPad" routerLink="terms">Terms</a>
                <a class="footPad" routerLink="privacy">Privacy</a>
                <span>© PatientSnap 2017</span>
            </div>
        </div>
    </div>
</footer>
