<div style="position:relative">
    <button class="modalCloseBtn" [md-dialog-close]>&times;</button>
    <md-dialog-content>
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/VGoT3gUhG2o?autoplay=1" frameborder="0"-->
            <!--allowfullscreen></iframe>-->
        <iframe class="demoVideo" width="992" height="558" src="https://www.youtube.com/embed/VGoT3gUhG2o?autoplay=1" frameborder="0"
            allowfullscreen></iframe>
        <iframe class="demoVideoMobile" width="304" height="171" src="https://www.youtube.com/embed/VGoT3gUhG2o" frameborder="0"
                allowfullscreen></iframe>
    </md-dialog-content>
</div>

