<!--<h1>-->
<!--Send Review Invitation-->
<!--</h1>-->
<div>
    <md-card>
        <md-card-header>
            <h1>
                Send Review Invitation
            </h1>
        </md-card-header>
        <hr>
        <md-card-content>
            <md-form-field>
                <input type="text" mdInput placeholder="Name (optional)" name="name" [(ngModel)]="custName">
            </md-form-field>
            <md-form-field>
                <input type="text" mdInput placeholder="Phone" name="phone" [(ngModel)]="custNo">
            </md-form-field>
        </md-card-content>
        <md-card-actions>
            <button md-button>Send</button>
        </md-card-actions>
    </md-card>
</div>
