<div class="container" style="height: 100%">
    <md-tab-group>
        <md-tab label="Account">
            <app-account></app-account>
        </md-tab>
        <md-tab label="Send Review Invite">
            <app-invite></app-invite>
        </md-tab>
        <md-tab label="Invitations">
            <app-invitations></app-invitations>
        </md-tab>
        <md-tab label="Website Reviews">
            <app-reviews></app-reviews>
        </md-tab>

        <md-tab label="Dashboard">
            <app-progress></app-progress>
        </md-tab>
    </md-tab-group>
</div>
