<h1>
    Account
</h1>
<div>
    <h2>Account Information</h2>
    <div class="infoBox mat-elevation-z8">
        <div class="infoContainer">
            <div class="headers">Business Name:</div>
            <div class="info">{{accountName}}</div>
        </div>
        <div class="infoContainer">
            <div class="headers">Street:</div>
            <div class="info">{{accountStreet}}</div>
        </div>
        <div class="infoContainer">
            <div class="headers">City:</div>
            <div class="info">{{accountCity}}</div>
        </div>
        <div class="infoContainer">
            <div class="headers">State:</div>
            <div class="info">{{accountState}}</div>
        </div>
        <div class="infoContainer">
            <div class="headers">Zip:</div>
            <div class="info">{{accountZip}}</div>
        </div>
    </div>
    <h2>Integration</h2>
    <div class="integrationContainer">
        <div>Based on the assumption we're still doing this, copy the code below, send it to your Chris and have him put it somewhere...</div>
        <textarea class="myArea" disabled>Stuff goes here</textarea>
    </div>
</div>
